body {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; /* center vertically */
    padding: 10px;
}

p {
    margin: 0;
    font-size: 22px;
    color: white;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
    text-align: center;
    display: flex; /* fix */
}
